node_modules
dist
.next
.turbo
.tsbuildinfo
*.tsbuildinfo
coverage
.env
.env.local
.env.*.local
.DS_Store
*.log
logs
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.cache
tmp
out
storybook-static
playwright-report
test-results
prisma/migrations/dev.db*
